{% extends 'base.html.twig' %}

{% block title %}Projects
{% endblock %}

{% block body %}
	<div class="container">
		{% if projects %}
			<span class="subtitle">
				Your projects
			</span>
		{% else %}
			<span class="subtitle">
				You don't have any projects yet
			</span>
		{% endif %}
		<a class="button is-primary is-small ml-3" href="{{ path('app_project_new')}}">
			<span>
				<i class="fa fa-plus mr-2"></i>
			</span>
			<span>
				Add project
			</span>
		</a>

		<div class="tile is-ancestor mt-3">

			{% for project in projects %}
				<div class="tile is-parent is-4">
					<a href="project/show/{{project.id}}">
						<article class="tile is-child box">
							<div class="title">
								<h3>{{ project.name }}</h3>
							</div>
							<div class="content">
								<p>{{ project.description }}</p>
								{% for tag in project.tags %}
									<span class="tag is-info">{{ tag.name }}</span>
								{% endfor %}
							</div>
						</article>
					</a>
				</div>
			{% endfor %}
		</div>

	</div>
{% endblock %}
